@model TrabajoIntegradorSofttekFront.Models.Login﻿Response
@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <h1 class="display-4">Bienvenido @ViewBag.Nombre @ViewBag.Cuil</h1>
</div>
